
 .loading{
     background-image: url("../../Images/night-sky.jpg");
     color: white;
     display: flex;
     align-items: center;
     position: fixed;
     top:0;
     left: 0;
     width: 100vw;
     height: 100vh;
     z-index: 99999;
 }

 .loading .loading-indicator{
     font-size: 18px;
     flex:1;
     text-align: center;
     align-content: center;
 }

 .imgClass{
    height: 90px;
    width: 120px;
    animation: loading-image 2s infinite linear;
    border-radius: 50%; 
 }

 @keyframes loading-image {
     0%{
         transform: rotate(0deg);
     }
     100%{
         transform: rotate(360deg)
     }
 }

